{%extends'bootstrap/base.html'%}
{%block title%} 我的WEB应用{%endblock%}
{%block navbar%}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('main.index')}}">我的WEB应用</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('main.index')}}">首页</a></li>
                    <li><a href="{{url_for('main.hello2')}}">用户</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {%if current_user.is_authenticated%}
                    <li><a href="{{url_for('main.test2',username=current_user.username)}}">当前用户：{{current_user.username}}</a></li>
                    <li><a href="{{url_for('auth.logout')}}">退出登录</a></li>
                    {%else%}
                    <li><a href="{{url_for('auth.login')}}">登录</a></li>
                    <li><a href="{{url_for('auth.register')}}">注册</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>
{%endblock%}
{%block content%}
    <div class="container">
        {%block page_content%} {%endblock%}
    </div>
{%endblock%}
