{%extends 'base.html'%}
{%import 'bootstrap/wtf.html' as wtf%}
{%block title%} 学生信息管理系统 {%endblock%}
{%block content%}
<div class="container">
</div>
<div class="page-header">
    <h1>学生信息列表</h1>
    <div style="margin:15px 0;">
    <a href="{{url_for('index')}}" class="btn btn-primary btn-xs">显示所有学生</a>
    {%for m in majors%}
        <a href="{{url_for('filter_by_major',major_id=m.id)}}" class="btn btn-default btn-xs">{{m.major_name}}</a>
    {%endfor%}
</div>
<div class="container">
<h4>当前共有{{studs|length}}名学生</h4>
<a class="btn btn-primary" href="{{url_for('new_stud')}}">新建学生</a>
<div>
    {%for stud in studs%}
        <p>
            学号：{{stud.id}} 
            姓名：{{stud.studentname}}
            {%if stud.major%}
                <span>专业：{{stud.major.major_name}}</span>
            {%else%}
                <span>专业：未分配</span>
            {%endif%}
            <a class="btn btn-default" href="{{url_for('edit_stud',id=stud.id)}}">编辑</a>
            <a class="btn btn-danger" href="">删除</a>
        </p>
    {%endfor%}
</div>
</div>
{%endblock%}